*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#F8FAFC;

color:#111827;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:white;

box-shadow:0 3px 10px rgba(0,0,0,.05);

}

.logo{

font-size:32px;

font-weight:700;

font-family:'Poppins',sans-serif;

color:#2563EB;

}

nav a{

margin-left:35px;

text-decoration:none;

font-weight:600;

color:#111827;

}

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:100px 80px;

}

.hero-text{

max-width:600px;

}

.hero h1{

font-size:60px;

font-family:'Poppins',sans-serif;

margin-bottom:20px;

}

.hero p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

}

button{

background:#2563EB;

color:white;

padding:16px 32px;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

margin-right:15px;

}

.secondary{

background:white;

color:#2563EB;

border:2px solid #2563EB;

}

.hero-image img{

width:450px;

}
